*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

header{
    height: 48px;
    padding: 6px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #70757a;
}

.menu-icon{
    background-image: url('../images/menu-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 18px;
    width: 18px;
}

.apps-icon{
    background-image: url('../images/apps-icon.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.btn-login{
    background-color: #1a73e8;
    height: 35px;
    padding: 8px 18px;
    border-radius: 5px;
}

.btn-login a{
    color: white;
}

section{
    margin-top: calc(100vh/5);
}

picture{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

img{
    width: 160px;
    margin-bottom: 5vh;
}
.input-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 275px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #dadce0;
    align-items: center;
    justify-content: space-around;   
}
.search-icon{
    background-image: url('../images/search-icon.svg');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
input{
    height: 35px;
    width: 75%;
    border: none;
}
.box-search-btn{
    visibility: hidden;
}
.offered-container{
    text-align: center;
    margin-top: 10px;
}
.offered{
    font-size: small;
}
.language{
    font-size: small;
    color: #1967d2;
}
footer{
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100vw;
    height: 16vh;
}
.location{
    color: rgba(0,0,0,.54);
    font-size: 16px;
    margin: 8px 0px 8px 18px;
}
footer div{
    text-align: center;
    height: 100%;
    border-top: 1px solid #dadce0;
    padding-top: 1.25rem;
}
.circle{
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 0px 9px 0;
    vertical-align: middle;
    width: 10px;
    background: #70757a;
}
footer div a{
    font-size: 13px;
    color: #70757A;
}
footer div span{
    color: #3c4043;
    font-weight: bold;
    font-size: 13px;
}