*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

header{
    height: 48px;
    padding: 6px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #70757a;
}

.menu-icon{
    background-image: url('../images/menu-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 18px;
    width: 18px;
}

.apps-icon{
    background-image: url('../images/apps-icon.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.btn-login{
    background-color: #1a73e8;
    height: 35px;
    padding: 8px 18px;
    border-radius: 5px;
}

.btn-login a{
    color: white;
}